<head>
<!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
-->
  <script src="/static/js/jquery-1.12.2.min.js"></script>
  <script>
function sumTable(table) {
    var total = 0;
    $(table + " td.amount").each(function(){ total += Number($(this).text()); });
    return total;
}

function buildTables(data) {
    for (key in data['budget']) {
        $("table#" + key + " tbody").empty();
        for (i in data['budget'][key]) { 
            $("table#" + key + " tbody").append(data['budget'][key][i]);
        }
        $("table#" + key + " tfoot td.total").text(sumTable("table#" + key));

        $("table#" + key + " tbody tr").dblclick(function() {
            $.post("/rest/remove_item/{{ budget_id }}", 
                { 'dbid': $(this).attr('dbid') },
                function(data, status) { buildTables(data); }
            );
        });

        $("form#" + key + " input[type='text']").each(function(){ $(this).val(""); });
    }
}

$(document).ready(function(){
    $.get("/rest/budget/{{ budget_id }}", function(data, status){ buildTables(data); });

    $("form input#add_item").click(function(){
        $.post("/rest/add_item/{{ budget_id }}", 
            {
                'category': $(this).attr('formid'),
                'name': $("form input[name='name']").val(),
                'monthly': $("form input[name='monthly']").val(),
                'yearly': $("form input[name='yearly']").val(),
            },
            function(data, status) { buildTables(data); }
        );
    });

});
  </script>
</head>

<body>
  <table>
    <tr><td>
      <table id="{{ name }}" border="1">
        <thead> <tr> 
          <th style="width:200px">Name</th> 
          <th style="width:100px">Monthly</th> 
          <th style="width:100px">Monthly*12</th> 
          <th style="width:100px">Yearly</th> 
          <th style="width:100px">Total</th> 
        </tr> </thead>
      </table>
    </td></tr>
    {% for name in ('income', 'giving') %}
    <tr><td>{{ name }}</td></tr>
    <tr><td>
      <table id="{{ name }}" border="1">
        <tbody> </tbody>
        <tfoot> <tr> <td/> <td/> <td/> <td/> <td style="text-align:right" class="total"/> </tr> </tfoot>
      </table>
    </td></tr>

    <tr><td>
      <form id="{{ name }}"> <table> <tr>
        <td> <input type="text" name="name"> </td>
        <td> <input type="text" name="monthly"> </td>
        <td> <input type="text" name="yearly"> </td>
        <td> <input id="add_item" type="button" value="add" formid="{{ name }}"> </td>
      </tr> </table> </form>
    </td></tr>
  {% endfor %}
  </table>
</body>

