<head>
  <link rel="stylesheet" href="/static/css/budget.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/static/js/budget.js"></script>
<!--
  <script src="/static/js/jquery-1.12.2.min.js"></script>
-->
  <script>
$(document).ready(function(){
    $.get("/rest/budget/{{ budget_id }}", function(data, status){ 
        buildTables(data, {{ budget_id }}); 
        $("body > h1").text(data['name']);
    });

    $("form input#add_item").click(function(){
        $.post("/rest/add_item/{{ budget_id }}", 
            {
                'category': $("form input[name='category']").val(),
                'name': $("form input[name='name']").val(),
                'monthly': $("form input[name='monthly']").val(),
                'yearly': $("form input[name='yearly']").val(),
            },
            function(data, status) { buildTables(data, {{ budget_id }}); }
        );
    });

});
  </script>
</head>

<body>
  <h1></h1>
  <form> 
  <table>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Monthly*12</th>
      <th>Yearly</th>
      <th/>
    </tr>
    <tr>
      <td> <input type="text" name="category" style="width:100px"> </td>
      <td> <input type="text" name="name" style="width:100px"> </td>
      <td> <input type="text" name="monthly" style="width:100px"> </td>
      <td> <input type="text" name="yearly" style="width:100px"> </td>
      <td> <input id="add_item" type="button" value="add"> </td>
    </tr> 
  </table> 
  </form>

  <table id='budget' border="1">
    <thead> 
      <tr> 
        <th style="width:100px">Name</th> 
        <th style="width:80px">Monthly</th> 
        <th style="width:80px">Monthly*12</th> 
        <th style="width:80px">Yearly</th> 
        <th style="width:80px">Total</th> 
        <th/>
      </tr> 
    </thead>
    <tbody> </tbody>
  </table>
</body>

