<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!--
  <script src="/static/js/jquery-1.12.2.min.js"></script>
-->
  <script>
function sumTable(table) {
    var total = 0;
    $(table + " td.amount").each(function(){ total += Number($(this).text()); });
    return total;
}

function displayTable(data, table) {
    $("table#budget tbody").empty();
    for (i in data['budget']['giving']) { 
        $(table + " tbody").append(
            "<tr dbid=" + data['budget']['giving'][i][0] + ">"
            + "<td class='category'>" + data['budget']['giving'][i][1] + "</td>"
            + "<td class='amount'>" + data['budget']['giving'][i][2] + "</td>"
            + "</tr>"
        );
    }
    $("table#budget tbody tr").dblclick(function() {
        $.post("/rest/remove_item/{{ budget_id }}", 
            { 'dbid': $(this).attr('dbid') },
            function(data, status) { displayTable(data, "table#budget"); }
        );
    });
    $(table + " td.total").text(sumTable(table));

    $("form input[type='text']").each(function(){ $(this).val(""); });
}

$(document).ready(function(){
    $.get("/rest/budget/{{ budget_id }}", function(data, status){
        displayTable(data, "table#budget");
    });

    $("form input#add_item").click(function(){
        $.post("/rest/add_item/{{ budget_id }}", 
            {
                'category': $("form input[name='category']").val(),
                'amount': $("form input[name='amount']").val(),
            },
            function(data, status) { displayTable(data, "table#budget"); }
        );
    });

});
  </script>
</head>

<body>
  <form> <table> <tr>
    <td> <input type="text" name="category"> </td>
    <td> <input type="text" name="amount"> </td>
    <td> <input id="add_item" type="button" value="add"> </td>
  </tr> </table> </form>

  <table id="budget" border="1">
    <thead> <tr> <th>Category</th> <th>Amount</th> </tr> </thead>
    <tbody> </tbody>
    <tfoot> <tr> <td/> <td class="total"/> </tr> </tfoot>
  </table>
</body>

